<a class="logo" href="">
  MindCodia
</a>
<footer  class="pmd-footer mat-elevation-z2">
  <div>
    <div class="row align-items-center">
      <div class="col-md-4 text-left" style="padding: 0;">
        <p>06 75 12 11 45</p>
        <p>info@mindcodia.fr</p>
      </div>
      <div class="col-md-4 text-left" style="
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 50px 35px 75px;">
        <p>900 Chemin Aumône Vieille</p>
        <p>Parc de l’Angevinière Bât. A4,</p>
        <p>13400 Aubagne</p>
      </div>
      <div class="col-md-4 text-left" style="padding: 35px;">
        <a data-testid="linkElement" href="https://www.facebook.com/wix" target="_blank" rel="noreferrer noopener" class="oRtuWN" aria-label="Facebook"><img alt="Facebook" style="width: 24px; height: 24px; object-fit: cover;" data-ssr-src-done="true" fetchpriority="high" src="https://static.wixstatic.com/media/64a918_d9471de294d741f48b2e2b25d078e7a8~mv2.png/v1/fill/w_24,h_24,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/64a918_d9471de294d741f48b2e2b25d078e7a8~mv2.png">
        </a>
        <a data-testid="linkElement" href="https://www.instagram.com/wix" target="_blank" rel="noreferrer noopener" class="oRtuWN" aria-label="Instagram">
          <img alt="Instagram" style="width: 24px; height: 24px; object-fit: cover;" data-ssr-src-done="true" fetchpriority="high" src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_24,h_24,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/01c3aff52f2a4dffa526d7a9843d46ea.png">
        </a>
        <a data-testid="linkElement" href="https://x.com/wix" target="_blank" rel="noreferrer noopener" class="oRtuWN" aria-label="Link">
          <img alt="Link" style="width: 24px; height: 24px; object-fit: cover;" data-ssr-src-done="true" fetchpriority="high" src="https://static.wixstatic.com/media/64a918_547aefbf5bbf48169e18ca7048ccdb02~mv2.png/v1/fill/w_24,h_24,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/64a918_547aefbf5bbf48169e18ca7048ccdb02~mv2.png">
        </a>
        <a data-testid="linkElement" href="https://www.tiktok.com/@wix" target="_blank" rel="noreferrer noopener" class="oRtuWN" aria-label="Link">
          <img alt="Link" style="width: 24px; height: 24px; object-fit: cover;" data-ssr-src-done="true" fetchpriority="high" src="https://static.wixstatic.com/media/64a918_547aefbf5bbf48169e18ca7048ccdb02~mv2.png/v1/fill/w_24,h_24,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/64a918_547aefbf5bbf48169e18ca7048ccdb02~mv2.png">
        </a>
      </div>
    </div>
  </div>
  <div style="padding: 30px"></div>
</footer>
