<mat-toolbar class="mat-elevation-z1" color="primary">
  <div class="fill-remaining-space" >
  <a class="logo" href="">
    MindCodia
  </a>
    <app-language-switcher></app-language-switcher>
  </div>
  <button mat-button class="hide-on-mobile" *ngIf="isLoggedIn && !isSignInPage" (click)="this.router.navigate(['package'])">
    <fa-icon [icon]="faStickyNote"></fa-icon>
    {{ 'MENU.Package' | translate }}
  </button>
  <button mat-button class="hide-on-mobile" (click)="this.router.navigate(['services'])">
    {{ 'MENU.Services' | translate }}
  </button>
  <button mat-button class="hide-on-mobile" (click)="this.router.navigate(['articles'])">
    {{ 'MENU.Blog' | translate }}
  </button>
  <button mat-button *ngIf="!isLoggedIn && !isSignInPage" (click)="this.router.navigate(['sign-in'])">
    <fa-icon [icon]="faUser"></fa-icon>
    {{ 'MENU.LogIn' | translate }}
  </button>

  <mat-menu #adminMenu="matMenu" xPosition="before">
    <ng-template matMenuContent>
      <button mat-menu-item *ngIf="isAdmin && isLoggedIn && !isSignInPage" (click)="this.router.navigate(['create-quiz'])">
        <fa-icon [icon]="faPlus"></fa-icon>
        {{ 'MENU.question' | translate }}
      </button>
      <!--
      Warning! Excel upload can be handled only for development purposes
      <button mat-menu-item *ngIf="isAdmin && isLoggedIn && !isSignInPage" (click)="this.router.navigate(['upload-excel'])">
        <fa-icon [icon]="faPlus"></fa-icon>
        {{ 'MENU.excel' | translate }}
      </button>
      -->
      <button mat-menu-item *ngIf="isAdmin && isLoggedIn && !isSignInPage" (click)="this.router.navigate(['create-article'])">
        <fa-icon [icon]="faPlus"></fa-icon>
        {{ 'MENU.article' | translate }}
      </button>
      <button mat-menu-item *ngIf="isAdmin && isLoggedIn && !isSignInPage" (click)="this.router.navigate(['create-category'])">
        <fa-icon [icon]="faPlus"></fa-icon>
        {{ 'MENU.category' | translate }}
      </button>
      <button mat-menu-item *ngIf="isAdmin && isLoggedIn && !isSignInPage" (click)="this.router.navigate(['users'])">
        <fa-icon [icon]="faPlus"></fa-icon>
        {{ 'MENU.User' | translate }}
      </button>
      <button mat-menu-item *ngIf="isAdmin && isLoggedIn && !isSignInPage" (click)="this.router.navigate(['tag-create'])">
        <fa-icon [icon]="faPlus"></fa-icon>
        {{ 'MENU.Questions' | translate }}
      </button>
    </ng-template>
  </mat-menu>
  <button mat-button *ngIf="isAdmin && isLoggedIn && !isSignInPage" [matMenuTriggerFor]="adminMenu">
    <fa-icon [icon]="faUserNinja"></fa-icon>
    <span class="hide-on-mobile">{{ 'MENU.Administrator' | translate }}</span>
  </button>
  <mat-menu #mobileMenu="matMenu" xPosition="before">
    <ng-template matMenuContent>
      <button mat-menu-item *ngIf="isLoggedIn && !isSignInPage" (click)="this.router.navigate(['package'])">
        <fa-icon [icon]="faStickyNote"></fa-icon>
        {{ 'MENU.Package' | translate }}
      </button>
      <button mat-menu-item (click)="this.router.navigate(['services'])">
        {{ 'MENU.Services' | translate }}
      </button>
      <button mat-menu-item (click)="this.router.navigate(['articles'])">
        <fa-icon [icon]="faNewspaper"></fa-icon>
        {{ 'MENU.Blog' | translate }}
      </button>
    </ng-template>
  </mat-menu>
  <button mat-button class="hide-on-desktop" *ngIf="isLoggedIn && !isSignInPage" [matMenuTriggerFor]="mobileMenu">
    <svg viewBox="0 0 100 80" width="40" height="40">
      <rect width="100" height="20" rx="10"></rect>
      <rect y="30" width="100" height="20" rx="10"></rect>
      <rect y="60" width="100" height="20" rx="10"></rect>
    </svg>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="this.router.navigate(['account'])">
        <fa-icon [icon]="faUser"></fa-icon>
        {{ 'MENU.profile' | translate }}
      </button>
      <button mat-menu-item (click)="notComletedTest()">
        <fa-icon [icon]="faFileClipboard"></fa-icon>
        {{ 'MENU.test' | translate }}
      </button>
      <button mat-menu-item (click)="onSignOut()">
        <fa-icon [icon]="faRightFromBracket"></fa-icon>
        {{ 'MENU.LogOut' | translate }}
      </button>
    </ng-template>
  </mat-menu>
  <button mat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="userMenu">
    <div matButtonIcon class="profile-image-wrapper">
<!--      getImage() ? getImage() :-->
      <img
      class="rounded-circle"
      src="{{
                  '/assets/avatars/avatar_00.jpg'
                }}"
      alt="{{ getUsername() }}"
    />
    </div>
  {{ getUsername()}}
  </button>
</mat-toolbar>
