
<app-navbar [hidden]="isLoading"></app-navbar>
<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="home-container">
  <div style="padding: 60px"></div>
  <main *ngIf="!isLoading">

    <div *ngIf="isListArticles">
      <h5>Articles: {{articles ? articles.length : 0}}</h5>
      <ng-container>
        <div class="row quiz-row">
          <div class="col-md-6" *ngFor="let article of articles">
            <div *ngIf="article">
              <mat-card class="quiz-card" *ngIf="article.title">
                <mat-card-header>
                  <mat-card-title class="quiz-title">{{ article.title }}</mat-card-title>
                  <mat-card-subtitle>{{ article.description }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <button mat-flat-button class="button-start" (click)="navigate(article.id)">
                    {{ 'CARUSEL_BUTTON' | translate}}
                  </button>
                </mat-card-content>

              </mat-card>
            </div>
          </div>
        </div>

        <ngb-pagination [collectionSize]="articles.length" [(page)]="currentPage" [pageSize]="pageSize" (pageChange)="pageArticlesChange($event)"></ngb-pagination>
      </ng-container>
    </div>
    <div class="single-article" *ngIf="isSngleArticle && article">
      <h2>{{ article.title }}</h2>
      <p>{{ article.description }}</p>
    </div>
    <div style="padding: 20px"></div>
  </main>
</div>
<app-footer *ngIf="!isLoading"></app-footer>

