@import "../../../assets/styles"

.container-category
  display: block
  justify-content: center
  align-items: center
  width: 52%
  overflow-y: auto
  margin: 0 auto
  padding-block: 50px
  max-width: unset
  .category-container
    //border: 1px solid #ffe2d6
    border-radius: 0
    padding: 60px
    justify-items: left
    align-items: start
    text-align: left
    .warning-text
      margin-bottom: 32px
      padding: 16px
      background-color: rgba(81,64,51,calc(1 * 0.05))
      color: rgb(81,64,51)
    .category-lable
      display: inline-flex
      margin-bottom: 32px
      padding: 0 11px
      border: 1px solid rgba(81,64,51,calc(1 * 0.05))
      color: rgb(81,64,51)
      border-radius: 25px
      font-size: 14px
    h2
      margin-bottom: 16px
    .contacts-block
      margin: 32px 0
      padding: 32px 0
      border-top: 1px solid rgba(81,64,51,calc(1 * 0.1))
      border-bottom: 1px solid rgba(81,64,51,calc(1 * 0.1))
      p
        margin-bottom: 0

  .spinner
    text-align: center
    justify-content: center
    justify-items: center
    height: 100%
    align-items: center
    mat-spinner
      margin: 0
      position: absolute
      top: 50%
      left: 50%
      -ms-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)

  mat-card
    padding: 0
    margin-inline: 5px
    margin-block: 15px
    text-align: left
    justify-content: left
    align-items: start
    box-shadow: none
    border: 1px solid #ffe2d6
    background: transparent
    mat-card-header
      .quiz-title
        text-wrap: nowrap
        font-size: 25px
        color: rgb(81,64,51)
        font-weight: 500
    mat-card-content
      color: rgb(81,64,51)
      padding: 5px 20px
      width: 100%
      margin: 10px
      text-align: center
      justify-content: center
      align-items: center
      button
        margin: 5px
      .quiz-description
         text-align: left
         color: grey
      .madeBy
        margin-top: 10px
        text-align: left
        color: grey
.iconFrame
  height: min-content
  width: min-content
  margin-block: 10px
  margin-inline: auto
  padding: 20px
  aspect-ratio: 1
  text-align: center
  justify-content: center
  align-items: center
  fa-icon, i-bs
    color: $primary

.quiz-row
  display: flex
  flex-wrap: wrap

.quiz-card
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.button-start
  float: right
  border: 1px solid #514039
  border-radius: 0
  margin-top: 75px
  color: #fff !important
  background-color: #514039 !important
  &:hover
    color: #514039 !important
    @include transition(color)
    background-color: transparent !important
    @include transition(background-color)
    text-decoration: underline
