@import "../../../assets/styles"

.container-category
  display: block
  justify-content: center
  align-items: center
  width: 52%
  overflow-y: auto
  margin: 0 auto
  padding-block: 50px
  max-width: unset
  .category-container
    border: 1px solid #ffe2d6
    margin-top: 100px
    border-radius: 0
    padding: 60px
    justify-items: center
    align-items: center
    text-align: center
  .spinner
    text-align: center
    justify-content: center
    justify-items: center
    height: 100%
    align-items: center
    mat-spinner
      margin: 0
      position: absolute
      top: 50%
      left: 50%
      -ms-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)

  mat-card
    padding: 0
    margin-inline: 5px
    margin-block: 15px
    text-align: center
    justify-content: center
    align-items: center
    background: $darkCommon
    mat-card-header
      .quiz-title
        text-wrap: nowrap
        font-size: 25px
        color: $primary-dark
        font-weight: 500
    mat-card-content
      padding: 5px 20px
      width: 100%
      margin: 10px
      text-align: center
      justify-content: center
      align-items: center
      button
        margin: 5px
      .quiz-description
         text-align: left
         color: grey
      .madeBy
        margin-top: 10px
        text-align: left
        color: grey
.iconFrame
  height: min-content
  width: min-content
  margin-block: 10px
  margin-inline: auto
  padding: 20px
  aspect-ratio: 1
  text-align: center
  justify-content: center
  align-items: center
  fa-icon, i-bs
    color: $primary

.quiz-row
  display: flex
  flex-wrap: wrap

.quiz-card
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.button-start
  border: 1px solid #514039
  border-radius: 0
  margin-top: 75px
  color: #fff !important
  background-color: #514039 !important
  &:hover
    color: #514039 !important
    @include transition(color)
    background-color: transparent !important
    @include transition(background-color)
    text-decoration: underline
