<app-navbar></app-navbar>
<div class="container dark-background">
  <div class="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="user-container">
      <h5>Tags: {{categories ? categories.length : 0}}</h5>
      <ng-container>
        <div class="row quiz-row">
          <div class="col-md-6" *ngFor="let category of categories">
            <div *ngIf="category">
              <mat-card class="quiz-card" *ngIf="category.name">
                <mat-card-header>
                  <mat-card-title class="quiz-title">{{ category.name }}</mat-card-title>
                  <mat-card-subtitle>{{category.quizzes ? category.quizzes.length : 0}} {{ category.quizzes.length == 1 ? "question collection" : "question collections" }} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <button mat-flat-button (click)="navigate(category.id)">Manage Questions</button>
                  <button mat-flat-button color="primary" (click)="editCategory(category.id)">Manage Tag</button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>

        <ngb-pagination [collectionSize]="categories.length" [(page)]="currentPage" [pageSize]="pageSize" (pageChange)="pageCategoriesChange($event)"></ngb-pagination>
      </ng-container>
  </div>
</div>
