<app-navbar></app-navbar>

<div class="container">
  <div style="margin: 60px"></div>
  <mat-card>

    <mat-card-title>{{ 'PROFILE-PAGE.title' | translate }}</mat-card-title>
    <mat-card-content>
<!-- Sidebar navigation -->
<div class="container-fluid dashboardContainer">
    <main role="main" >
      <div class="inner-adjust">
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <div class="image-container align-self-start">
              <img
                class="align-self-start img-thumbnail rounded-circle"
                src="{{
    getImage() ? getImage() : '/assets/avatars/avatar_00.jpg'
  }}"
                alt="{{ user.displayName }}"
              />
              <a  class="change-avatar-icon" (click)="changeAvatar()">
                <i-bs width="30" height="30" name="pencil-square"></i-bs>
              </a>
              </div>
              <div class="media-body">
                <h2>
                  <strong>{{
                    user.username
                    }}</strong>
                </h2>
                <h5>
                  {{
                    user.displayName
                    }}
                </h5>
                <p>
                  Email: <strong>{{ user.email }}</strong>
                </p>
              </div>
            </div>
            <mat-card-content>
              <button mat-flat-button class="button-start" (click)="editUser(user.username)">{{ 'PROFILE-PAGE.title-edit' | translate }}</button>
            </mat-card-content>
            <div style="padding: 20px"></div>
            <div class="spinner" *ngIf="isLoading">
              <mat-spinner></mat-spinner>
            </div>
            <div clas="results" *ngIf="!isLoading">
              <h4>{{ 'PROFILE-PAGE.results' | translate }}</h4>
              <div *ngIf="results.length==0">
                no results found
              </div>
              <div>
                <div class="quiz-grid" *ngFor="let result of results">
                  <div *ngIf="result"  class="quiz-item" >
                    <div class="quiz-name">{{ result.categoryName }}</div>
                    <div class="quiz-category">{{ 'PROFILE-PAGE.Score' | translate }}: {{ result.score }}</div>
                    <div class="quiz-actions">
                      <button (click)="viewResult(result.resultID)" mat-stroked-button type="button" matTooltip="View result">
                        <i-bs width="20" height="20" name="pencil-square"></i-bs> {{ 'PROFILE-PAGE.BView' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div clas="quizzes" *ngIf="!isLoading && isAdmin">
              <h4>{{ 'PROFILE-PAGE.tests' | translate }} :</h4>
              <div *ngIf="quizzes.length==0">
                no results found
              </div>
              <div>
                <div class="quiz-grid" *ngFor="let quiz of quizzes | slice: (currentPage-1) * pageSize : currentPage * pageSize; let i = index">
                <div *ngIf="quiz"  class="quiz-item" >
                  <div class="quiz-name">{{ quiz.name }}</div>
                  <div class="quiz-category">{{ quiz.categoryName }}</div>
<!--                  <div class="quiz-created">{{ quiz.created }}</div>-->
                  <div class="quiz-actions">
<!--                    <button  (click)="solveQuiz(quiz)" mat-flat-button color="primary" type="button" matTooltip="Take the quiz">-->
<!--                      <i-bs width="20" height="20" name="file-earmark-check"></i-bs> Take-->
<!--                    </button>-->
                    <button (click)="editQuiz(quiz)" mat-stroked-button type="button" matTooltip="Edit the quiz">
                      <i-bs width="20" height="20" name="pencil-square"></i-bs> {{ 'PROFILE-PAGE.BEdit' | translate }}
                    </button>
                    <button  (click)="deleteQuiz(quiz)" mat-flat-button color="warn" type="button" matTooltip="Remove the quiz">
                      <i-bs width="20" height="20" name="trash"></i-bs> {{ 'PROFILE-PAGE.BRemove' | translate }}
                    </button>
                    <button mat-stroked-button (click)="shareQuiz(quiz)" matTooltip="Share the quiz">
                      <i class="bi bi-share"></i>
                      {{ 'PROFILE-PAGE.BShare' | translate }}
                    </button>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-12 justify-content-center m-2">
            <ngb-pagination
              *ngIf="quizzes.length>pageSize"
              [(page)]="currentPage"
              [pageSize]="pageSize"
              [collectionSize]="quizzes.length"
              [maxSize]="5"
              [rotate]="true"
            ></ngb-pagination>
              </div>
          </div>
          </div>
          <button mat-flat-button color="warn" class="nav-link" (click)="authService.SignOut()">{{ 'PROFILE-PAGE.LogOut' | translate }} </button>
        </div>
      </div>
    </main>
</div>
    </mat-card-content>
  </mat-card>

</div>
<app-footer></app-footer>

