
<app-navbar [hidden]="isLoading"></app-navbar>
<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="home-container">
<div style="padding: 60px"></div>
  <div class="submit-wrapper">
    <button mat-flat-button color="accent" type="submit">
      <i-bs width="50" height="50" name="check2-circle"></i-bs>
      Start new Test!
    </button>
    <div style="padding: 20px"></div>

    <div style="padding: 20px"></div>
  </div>

  <main *ngIf="!isLoading">
    <app-carousel-slides [items]="packages"></app-carousel-slides>

  <div style="padding: 20px"></div>
  </main>
</div>
<app-footer *ngIf="!isLoading"></app-footer>

