@import "../../../assets/styles"

.carousel-items
  mat-card
    background-color: #fffbf4
    //padding: 10px
    text-align: center
    //justify-content: center
    align-items: center

    overflow: hidden
    mat-card-content
      height: 100%
      margin: 0 10px
      text-align: center
      justify-content: center
      align-items: center
      mat-card-header
        text-align: left
        padding: 25px 0
        mat-card-title-group
          //justify-content: center
          align-items: center
          mat-card-title
            text-wrap: nowrap
            font-size: 30px
            //color: $primary-dark
            color: #514033
            font-weight: 400
          mat-card-subtitle
            //color: $primary
            color: #514033
            font-size: 19px
            font-weight: 300
      mat-card-footer
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        border-top: 1px solid #00000033
        .text-start
          display: block
          width: 50%
          float: left
          padding: 15px 0
          font-size: 13px
        .text-end
          display: block
          width: 50%
          float: left
          padding: 15px 0

      .iconFrame
        background-color: white
        height: min-content
        //width: min-content
        //margin-block: 10px
        margin-inline: auto
        //padding: 13px
        //border-radius: 20px
        //aspect-ratio: 1
        text-align: center
        justify-content: center
        align-items: center
        @include transition(background-color)
        transform: scale(100%)
        @include transition(transform)
        .iconWrapper
          //height: 30px
          //width: 30px
          transform: rotate(0) scale(100%)
          @include transition(transform)
          background: transparent
          fa-icon, i-bs
            color: $primary
            transform: rotate(45deg)
    //&:hover
    //  background-color: #000000
    //  cursor: pointer
    //  mat-card-content
    //    .iconFrame
    //      transform: scale(102%)
    //      background-color: #ffffff
    //      @include transition(background-color)
    //      .iconWrapper
    //
    //        transform: rotate(10deg) scale(110%)
    //        fa-icon, i-bs
    //          color: white
    //          @include transition(color)
    //    mat-card-header
    //      mat-card-title-group
    //        mat-card-title, mat-card-subtitle
    //          color: white
    //          @include transition(color)
    //        mat-card-subtitle
    //          color: white


